<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>设计模式</title>
  <script src="javascripts/index.js" defer></script>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <center>
    <h1>设计模式</h1>
    <!-- https://www.cnblogs.com/imwtr/p/9451129.html 
         https://zhuanlan.zhihu.com/p/84721728
    -->
    <a href="https://zhuanlan.zhihu.com/p/46066237">十五种设计模式</a>
    <a href="https://zhuanlan.zhihu.com/p/84721728">常用4钟</a>
    <h3>
      什么时设计模式
    </h3>
    <p>
      假设有一个空房间，我们要日复一日地往里 面放一些东西。最简单的办法当然是把这些东西 直接扔进去，但是时间久了，就会发现很难从这 个房子里找到自己想要的东西，要调整某几样东 西的位置也不容易。所以在房间里做一些柜子也 许是个更好的选择，虽然柜子会增加我们的成 本，但它可以在维护阶段为我们带来好处。使用 这些柜子存放东西的规则，或许就是一种模式
    </p>
  </center>  
    <ul title="设计原则">
      <h3>设计原则</h3>
      <li>单一职责原则：一个对象或方法最好制作一件事情，较小粒度的划分有利于后期需求变动</li>
      <li>最少知识原则：一个软件实体应尽可能减少与其他实体联系，即对象之间若不必彼此直接通信，最好讲彼此之间的联系交给第三方</li>
      <li>开源-封闭原则：软件实体（类，方法，对象，模块，函数等）应当时可扩展但不可的修改的，当需要给程序增加功能时，应通过添加新代码，减少源代码的改动，这样有利于保证系统稳定性</li>
    </ul>
    <ol>
      <h3>常见食物中设计模式</h3>
      <li>单例模式</li>
      <li>策略模式</li>
      <li>观察和模式</li>
      <li>代理模式</li>
      <li>命令模式</li>
      <li>组合模式</li>
      <li>享元模式</li>
      <li>职责链模式</li>
      <li>中介者模式</li>
      <li>装饰者模式</li>
      <li>状态模式</li>
      <li>适配器模式</li>
      <li>外观模式</li>
      <li>模板方法模式</li>
      <li>迭代器模式</li>
      <li><a href="https://zhuanlan.zhihu.com/p/40285550">模式分类</a></li>
    </ol>
    <div id="single">
      <h4>单例模式</h4>
      <span>目前已编程 modules export inport</span>
      <a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Statements/export">MDN</a>
      <a href="https://segmentfault.com/a/1190000015476119">segmentfault</a>
    </div>
    <div id="modules">
      <h4>模块设计模式</h4>
    </div>
    <div>
      <h4>原型链模式</h4>
    </div>
    <div id="observer">
      <h4>观察者模式</h4>
    </div>
    <div id="factory">
      <h4>工厂模式</h4>

    </div>
    
</body>
</html>